#container
	
	#title
		Jade
	
	#description
		%p
			Jade is a templating language use to produce HTML templates from simple
			clean syntax.
		
		%p
			Based off the HAML templating language.
		
		%p
			Reference:
			%li
				%ul <a href="http://jade-lang.com/" target="_blank">Jade Language Homepage</a>
	