---
layout: post
title: "The total size of a directory"
date: 2014-02-12 22:17:52 -0700
comments: true
categories: linux system_administration
---

%p 
	Recently at work I was asked to calculate the average size of a set of log file for one of our
	internal systems. The system copies logs for a set of applications from a set of temporary systems
	to a central server in the form of typical logs files and a ZIP file.


	